body {
  margin: 0;
  background-color: #1c1c1c;
}

#main-container {
  background-color: #1f2937;
  width: 550px;
  height: 550px;
  margin: 50px auto;
}

h1 {
  width: 354px;
  height: 80px;
  font-family: "Karla", sans-serif;
  font-size: 39px;
  font-weight: 800;
  letter-spacing: -2.5%;
  padding-top: 100px;
  padding-left: 50px;
}

#h1-white {
  color: #ffffff;
}

#h1-green {
  color: #55f991;
}
