body {
  margin: 0;
  background-color: #1c1c1c;
}

#main-container {
  background-color: #1f2937;
  width: 550px;
  height: 550px;
  margin: 50px auto;
}

h1 {
  width: 354px;
  height: 80px;
  font-family: "Karla", sans-serif;
  font-size: 39px;
  font-weight: 800;
  letter-spacing: -2.5%;
  padding-top: 100px;
  padding-left: 50px;
}

#h1-white {
  color: #ffffff;
}

#h1-green {
  color: #55f991;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #d5d4d8;
  padding-left: 50px;
}

button {
  margin-left: 50px;
  margin-top: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #10b981;
  color: #ffffff;
  padding: 9px 15px;
  border: none;
  border-radius: 6px;
}
